<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
 <classes>
      <class name="com.base.Base"/>
      <class name="com.testcases.loginpageTest"/>
      <class name="com.testcases.viewOfferTest"/>
      <class name="com.testcases.changeLocationTest"/>
      <class name="com.testcases.searchTest"/>
      <class name="com.testcases.BuyItemTest"/> 
      <class name="com.testcases.dealsOfWeekTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
